!!!
%html
  = render :partial => 'layouts/head'
  %body
    .body-content
      .container
        - if flash.any?
          .flash
            - flash.each do |key, value|
              %div{ :id => "flash_#{key}", :class => key }
                %p.flash_note= value
        = yield
    #footer

